<div class="row">
  <div class="one-half column" style="margin-top: 25%">
    <h4>Change password</h4>
    <p>Change your password.</p>
    <div id="resetChangePassword"></div>
  </div>
</div>
